@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Syne:wght@400;500;600;700;800&display=swap");

/* Global Styles */

//font-family: 'Inter', sans-serif;
//font-family: 'Syne', sans-serif;

/* div {
   border: 1px solid green;
  } */

.pageWrapper {
  background-color: #1f242c;
  color: #faebd7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-family: "Inter", sans-serif;
}

.emph {
  font-style: italic;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.4);
}

.btn-outline-light {
  border-color: var(--white);
  color: var(--white);
}

.btn-outline-light:hover {
  background-color: var(--white);
  color: rgba(0, 0, 0, 0.9);
}

.underline {
  position: relative;
  font-weight: 700;
}

.underline:after {
  content: "";
  position: absolute;
  background-color: var(--white);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}

.underline:hover:after {
  width: 100%;
}

/* Navigation Styles*/

.logo {
  font-size: 36px !important;
  font-weight: 800;
  text-decoration: none;
}

.logo a {
  font-size: 45px;
  font-weight: 800;
  text-decoration: none;
}

.navbar {
  height: 100px;
  font-family: "Syne", sans-serif;
}

.navbar a {
  color: var(--white);
}

.nav-item a {
  position: relative;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--white);
  letter-spacing: 0.5px;
}

.nav-item a:after {
  content: "";
  position: absolute;
  background-color: var(--white);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}

.nav-item a:hover:after {
  width: 100%;
}

/* Homepage Styles */

.lead {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

/* About Section styles */

.progress {
  height: 25px;
  border-radius: 25px;
  margin-bottom: 5px;
  background-color: transparent;
}

.progress-bar {
  border-radius: 25px;
}

.bg-git {
  background-color: #563387;
}

.bg-htcs {
  background-color: #b22b87;
}

.bg-js {
  background-color: #f06f48;
}

.bg-react {
  background-color: #ce3855;
}

/* Work Styles */

.card {
  box-shadow: rgb(20, 20, 20) 0px 20px 30px -10px;
  height: 500px;
  color: #faebd7;
  border: 0px solid;
}

.card-img {
  max-height: 400px;
  min-height: 400px;
  width: 100%;
  object-fit: cover;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  outline: solid 1px var(--white);
  outline-offset: -12px;

  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.25s;
}

.card-img-overlay--blur {
  backdrop-filter: blur(5px);
}

.card-img-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.card-img-overlay:hover {
  opacity: 1;
}

.card-img-overlay:hover > * {
  transform: translateY(0);
}

.projectCardWrapper {
  margin-bottom: 25px;
}

#proj1 {
  background-image: url("../img/gutenBooks.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#proj2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/gamedealer.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#proj3 {
  background-image: url("../img/readmegen.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#proj4 {
  background-image: url("../img/weather.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#proj5 {
  background-image: url("../img/scheduler.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#proj6 {
  background-image: url("../img/bootstrapportfolio.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Contact Styles */

#contact {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-container {
  padding-top: 200px;
}

.socials-bar {
  height: 80px;
}

.socials-bar li {
  list-style: none;
}

.socials-bar a {
  text-decoration: none;
  color: var(--white);
}

.social-row {
  gap: 25px;
}

.social-btn {
  border: 1px solid var(--white);
}

.social-btn:hover {
  transition: 0.2s;
  transform: translateY(-3px);
}

.social-btn svg {
  width: 35px;
  height: 35px;
}

.contact-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.contact-divider-top svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 150px;
}

.contact-divider-top .shape-fill {
  fill: #1f242c;
}
